{{define "main"}}

<!--$paginator-->
{{$p := .Pages}}
{{if .IsHome}}
{{$p = where site.RegularPages "Type" "in" site.Params.mainSections}}
{{else if eq .Kind "taxonomy"}}
{{$p = $p.ByTitle}}
{{end}}
{{$paginator := .Paginate $p}}

<!--list-->
{{range $paginator.Pages}}
<tvlist>
	{{ .Title }}{{ if gt .Params.favorite Yes }}
{{ $emoji = 😎}}
{{ else if gt .Params.temperature 100 }}
{{ $emoji = 🥵}}
{{ end }}
		{{ range .Params.season }}
			<season>{{ . }}</season>
		{{ end }}
</tvlist>
{{end}}

{{end}}
