{{define "main"}}

<!--$paginator-->
{{$p := .Pages}}
{{if .IsHome}}
{{$p = where site.RegularPages "Type" "in" site.Params.mainSections}}
{{else if eq .Kind "taxonomy"}}
{{$p = $p.ByTitle}}
{{end}}
{{$paginator := .Paginate $p}}

<!--list-->
	{{range $paginator.Pages}}
  {{ .Content }}
	{{end}}

{{ if .Params.season }}
  <strong>Director{{ if gt (len .Params.season) 1 }}s{{ end }}:</strong>
  {{ range $index, $season := .Params.season }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/season/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
{{ end }}


<!--pagination-->
{{template "_internal/pagination.html" .}}

{{end}}
    
