{{define "main"}}

<!--$paginator-->
{{$p := .Pages}}
{{if .IsHome}}
{{$p = where site.RegularPages "Type" "in" site.Params.mainSections}}
{{else if eq .Kind "taxonomy"}}
{{$p = $p.ByTitle}}
{{end}}
{{$paginator := .Paginate $p}}

<intro>
<p>Hi, I'm 40 years old, have a cat named Bob and hate Facebook. I have no need for a website, but here we are.</p>

<p>During the day I work at Sunrise Medical, where I build stuff for the web. At night, I dream about pizza.</p>
</intro>

 {{ range (.Site.RegularPages.GroupByDate "2006") }}
            <h3>{{ .Key }}</h3>

            <ul class="archive-list">
                {{ range (where .Pages "Type" "post") }}
                    <li>
                        {{ .PublishDate.Format "02 Jan" }}
                        - 
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
                {{ end }}
            </ul>
        {{ end }}

<tags>
  {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
  {{ end }}
</tags>

<!--list-->
<ul>
	{{range $paginator.Pages}}
	<li><date>{{.Date.Format "2006-01-02"}} | </date> <a href="{{.RelPermalink}}">{{.Title}}</a></li>
	{{end}}
</ul>

{{end}} 
