<!doctype html>

{{ `<!-- The greater fool. What kind of day has it been? :) -->` | safeHTML }}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &mdash; {{ .Site.Title }}{{ end }}</title>
  <meta name="author" content="K.Q. Dreger">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  {{ if .IsHome }}
  <meta name="Description" content="A small column on privacy, design, gaming, and writing. Published from Ohio. Written by K.Q. Dreger.">
  <meta itemprop="description" content="A small column on privacy, design, gaming, and writing. Published from Ohio. Made on a Mac. Written by K.Q. Dreger.">
  <!-- <meta property="og:image" content="{{ .Site.BaseURL }}/icon.png" /> -->
  {{ end }}
  {{ if .IsPage }}
  <meta name="Description" content="{{ htmlEscape .Summary | plainify }}...">
  <meta itemprop="description" content="{{ htmlEscape .Summary | plainify }}...">
  <meta property="og:title" content="{{ .Title }}"/>
  <meta property="og:description" content="{{ htmlEscape .Summary | plainify }}..."/>
  <meta property="og:site_name" content="{{ .Site.Title }}"/>
  <meta property="og:url" content="{{ strings.TrimSuffix "/" .Permalink }}"/> 
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@dreger" />
  {{ end }}

  <!-- Prefetching -->
  <link rel="dns-prefetch" href="//static.getclicky.com">

  {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  <link rel="canonical" href="{{ strings.TrimSuffix "/" .Permalink }}" />
  
  <!-- <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7009134/6408612/css/fonts.css" /> -->

  {{ $style := resources.Get "audacious.scss" | resources.ToCSS | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101122105);</script>
  <script async src="//static.getclicky.com/js"></script>

  <!-- <script type="text/javascript">
  window.MemberfulOptions = {site: "https://audacious.memberful.com"};

  (function() {
    var s   = document.createElement('script');

    s.type  = 'text/javascript';
    s.async = true;
    s.src   = 'https://d35xxde4fgg0cx.cloudfront.net/assets/embedded.js';

    setup = function() { window.MemberfulEmbedded.setup(); }

    s.addEventListener("load", setup, false);

    ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();
</script> -->
</head>
<body>
  <main>
    <header class="header">
      <a href="/" class="logo">Audacious</a>
      <button class="header__menu">•••</button>
    </header>
    {{ partial "navigation.html" . }}
    <div class="column">
      {{ block "main" . }}{{ end }}
    </div>

  </main>

  <script type="text/javascript">
    let navigationDom = document.querySelector(".navigation"); 
    document.querySelector(".header__menu").addEventListener('click', function (event) {
        navigationDom.classList.toggle('navigation--active'); 
      })
  </script>
</body>
</html>
