<title>jw.</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<link rel=icon href=data:,>
<style>
@import url('https://rsms.me/inter/inter.css');
html {
    background-color: #f1f1f1;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 29px;
}
body {
  max-width: 38em;
  padding: 2em;
  margin: auto;
}
main {
    background-color: #ffffff;
    padding: 2em 2em 2em 2em;
	border-radius: 5px;
}
.header {
    display: flex;
    margin: 0 auto;
	margin-bottom: 0px;
    align-items: center;
    margin-bottom: 3rem;
}
.header__menu {
    padding: .25rem .5rem;
    border: 0;
    background: 0 0;
    margin-left: auto;
    line-height: 1em;
}
.navigation {
    display: none;
    margin-bottom: 2rem;
}
.navigation--active {
    display: block;
}
.navigation.navigation--active a {
    color: #000000;
	border-bottom: 0px;
	font-weight: 600;
}
.navigation.navigation--active p:last-of-type {
    margin-bottom: 8px;
}
intro {
	margin: 0 0 3em;
	display: block;
}
#content {
	margin: 0;
}
h1 {
  font-weight: 600;
  letter-spacing: -0.05em;
}
h2, h3 {
  margin: 2em 0 1em;
  line-height: 0.6rem;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.logo {
  border-bottom: none;
  line-height: 1.2;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: -0.03em;
  color: #006fff;
}
p {
    margin: 0 0 1.5em 0;
}
a {
  text-decoration: none;
  outline: 0;
  color: #000000;
  border-bottom: 1px dotted #333333;
}
a:hover {
  color: #006fff;
}
.navigation.navigation--active ul {
  list-style-type: none;
  padding: 0 0 1rem 0;
  margin: 6px 0 0 0;
}
li {
  margin-bottom: 0rem;
}
hr {
	margin: 2rem 0;
	max-width: 3rem;
	border: none;
	border-top: 1px solid #e8e8e8;
}
date {
  color: #808080;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -0.05em;
  display: block;
	margin: 0 0 1em;
	line-height: 1;
}
tvlist {
	display: block;
}
.star {
    width: 13px;
    height: 12px;
    display: inline-block;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYuMzA5IDkuMjJMMi40MDkgMTJsMS40NC00LjU2N0wwIDQuNTgzbDQuNzg4LS4wNDJMNi4zMDggMCA3LjgzIDQuNTRsNC43ODkuMDQ0LTMuODUgMi44NDlMMTAuMjA5IDEyeiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
}
season {
  font-size: 12px;
  display: inline-block;
  color: #b5adad;
}
movies li {
	list-style: none;
}
movies date {
  color: #808080;
  font-size: 12px;
  display: block;
  margin: 0 0 1em;
  line-height: 1;
}
tags {
  display: block;
}
tags a {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -0.05em;
  padding: 3px 6px 2px;
  border-radius: 3px;
  border-bottom: 0;
  background-color: #333;
  display: inline-block;
}
footer {
	color: #808080;
}
footer a {
	margin-right: 1em;
	color: #808080;
}
.dots {
line-height:17px;
margin-bottom: 2em;
  }
.dots:before{
 background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2P83Sf3n7XoESMjAxQAADjFBAPqoJzEAAAAAElFTkSuQmCC) repeat;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    content: "pattern dots";
    height: 1.25rem;
    width: 100%;
    display: block;
}
@media (max-width: 700px) {
  html {
    background-color: #fff;
  }
  main {
    padding: 0;
    border-radius: 0px;
  }
}
</style>
