<title>jwboelens.org | website by J.W. Boelens</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<link rel=icon href=data:,>
<style>

@import url('https://rsms.me/inter/inter.css');	
	
@font-face{
	font-family:Tiempos Headline;
	font-style:normal;
	font-weight:700;
	src:url("/TiemposHeadlineWeb-Bold.woff2") format("woff2"),url("/TiemposHeadlineWeb-Bold.woff") format("woff")
}
	
html {
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #121212
}
body {
  max-width: 38em;
  padding: 2em;
  margin: auto;
}
main {
	background-color: #ffffff;
	padding: 2em 2em 3em 2em;
	border-radius: 5px;
}
header {
	margin: 0 0 4em 0;
	text-transform: lowercase;
}
nav {
	display: block;
	margin: 5px 0 0 0;
}
nav a {
	color: #808080;
	margin-right: 1em;
	text-decoration: none;
	border-bottom: none;
}
intro {
	margin: 0 0 3em;
	display: block;
}
#content {
	margin: 0;
}
h1 {
	font-style: normal;
	font-weight: 700;
  letter-spacing: -0.05em;
}
h2, h3 {
	font-style: normal;
	font-weight: 700;
  margin: 2em 0 1em;
  line-height: 0.6rem;
  font-size: 18px;
  letter-spacing: -0.03em;
}
h4 {
	font-style: normal;
	font-weight: 700;
	margin: 0 0 3em;
	font-size: 16px;
	letter-spacing: -0.02em;
	background-color: #ececec;
	display: inline-block;
	border-radius: 3px;
	padding: 3px 8px;
}
ul {
	margin: 0 0 1.5em;
	padding: 0;
	list-style: none;
}
.logo {
	color: #121212;
	border-bottom: 0px dotted #000000;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: -0.02em;
}
p {
	margin: 0 0 1.5em 0;
}
a {
  text-decoration: none;
  outline: 0;
  color: #000000;
  border-bottom: 1px dotted #333333;
}
a:hover {
  color: #006fff;
}
.navigation.navigation--active ul {
  list-style-type: none;
  padding: 0 0 1rem 0;
  margin: 6px 0 0 0;
}
li {
  margin-bottom: 0rem;
}
hr {
	margin: 2rem 0;
	max-width: 3rem;
	border: none;
	border-top: 1px solid #e8e8e8;
}
date {
  color: #808080;
  font-size: 12px;
  display: block;
  margin: 3px 0 1.5em;
  line-height: 1;
}
tvlist {
	display: block;
}
.star {
    width: 13px;
    height: 12px;
    display: inline-block;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYuMzA5IDkuMjJMMi40MDkgMTJsMS40NC00LjU2N0wwIDQuNTgzbDQuNzg4LS4wNDJMNi4zMDggMCA3LjgzIDQuNTRsNC43ODkuMDQ0LTMuODUgMi44NDlMMTAuMjA5IDEyeiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
}
	
/* TV */	
tv li {
  list-style: none;
  margin: 0 0 .5em;
}
season {
  font-size: 10px;
  display: inline-block;
  color: #294661;
	background-color: #fbfbfc;
	border: 1px solid #e9ecef;
  padding: 2px 4px;
  border-radius: 2px;
	margin: 0 5px 0 auto;
	line-height: 1;
	top: -2px;
	position: relative;
}
star {
	display: inline-block;
	top: -8px;
	position: relative;
	right: 4px;
	font-size: 10px;
}
	
/* MOVIES */	
movies li {
  list-style: none;
}
movies date {
  color: #808080;
  font-size: 12px;
  display: block;
  margin: 0 0 1.5em;
  line-height: 1;
}

/* NOTES */
	
notes {
    margin-bottom: 4em;
    display: block;
}	
notes li {
    list-style: none;
    margin-bottom: 1em;
}
notes li::before {
    position: absolute;
    width: 6px;
    height: 6px;
    content: "";
    background: #2292f1;
    border-radius: 50%;
    top: .65em;
    left: -1.55em;
}
notes date {
  color: #808080;
  font-size: 12px;
  display: block;
  margin: 0 0 1.5em;
  line-height: 1;
}
	
blockquote {
	margin: 0;
	font-style: normal;
	font-weight: 400;
}
cite {
	font-style: normal;
	margin-bottom: 2em;
	color: #808080;
}

/* NAVIGATION */

.pagination a {
    float: left;
    font-size: 12px;
    color: #808080 !important;
}
.page-item.active {
    float: left;
}
.page-item {
    float: left;
    margin-right: 5px;
}

footer {
	color: #808080;
}
footer a {
	margin-right: 1em;
	color: #808080;
}
@media (max-width: 700px) {
  html {
    background-color: #fff;
  }
  main {
    padding: 0;
    border-radius: 0px;
  }
}
</style>
